/*q: How to create css variables */
/*a: https://www.w3schools.com/css/css3_variables.asp */

:root {
    --clear-bg-color: #ffffff;
    --accent-bg-color: #EAF2FF;
    --accent-color-1: #B4DDFF;
    --accent-color-2: #7FACD2;
}

/*include all fonts from .\fonts\MacPawFixelDisplay\Web-PS\*/


body{
    background-color: var(--clear-bg-color);
    height: 100vh;
    /*block scroll bar*/
    margin: 0;
    overflow: hidden;
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 8vh auto;
    font-family: 'MacPawFixelDisplayRegular' , sans-serif;
}

.button1{
    background-color: var(--accent-bg-color);
    color: var(--accent-color-2);
    border: none;
    padding: 5px 20px 5px 20px;
    border-radius: 50px;
    font-size: 1em;
    font-family: 'MacPawFixelDisplayRegular' , sans-serif;
    cursor: pointer;
    outline: var(--accent-color-2) 1px solid;
    transition: 0.2s;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

.button1:hover{
    filter: brightness(1.1);
}

/*q: Why is hoe not working? */
/*a: https://stackoverflow.com/questions/10523415/css-hover-not-working */  

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
}

#left-header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
}

/*TODO: maybe flex with padding a little bit*/
#right-header{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-right: 60px;
    flex-direction: column;
    flex-wrap: nowrap;
}

/*TODO: make logo svg and with more adaptive position*/
.logo{
    margin-top: 0px;
    height: 80%;
    object-fit: contain;
}   

/*TODO: make name more adaptive and less shitcoded*/
.name{
    color: var(--accent-color-1);
    font-size: 2.0em;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'MacPawFixelDisplayThin' , sans-serif;
    margin-top: 5px;
}

main{
    background-color: var(--accent-bg-color);
    overflow: hidden;
    border-radius: 50px 50px 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    outline: var(--accent-color-1) 2px solid;
}

#left-main-screen{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    overflow: auto;

}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
    }

    ::-webkit-scrollbar-track {
    background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
    background-color: var(--accent-color-1);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
    }

    ::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent-color-2);
    }



.container-desk-object{
    max-width: 40vmin;
    min-width: 25vh;
    max-height: 50vmin;
    min-height: 30vh;
    background-color: var(--clear-bg-color);
    border-radius: 40px;
    margin: 10px;
    outline: var(--accent-color-1) 4px solid;
}

#right-main-screen{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    width: 100%;
    align-items: center;
}

.map{
    background-color: var(--clear-bg-color);
    border-radius: 50px;
    margin: auto;
    outline: var(--accent-color-1) 5px solid;
    height: 95%;
    width: 95%;
    overflow: hidden;
}


/* TODO: make map responsive */
.map img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


