
:root {
    --clear-bg-color: #ffffff;
    --accent-bg-color: #EAF2FF;
    --accent-color-1: #B4DDFF;
    --accent-color-2: #7FACD2;
    --contrast-color-1: #4a6880;
    --call-button-color: #B3EB7A;
    --viber-button-color: #c194df;
    --telegram-button-color: #90c9ed;
}


body{
    background-color: var(--clear-bg-color);
    height: 100vh;
    /*block scroll bar*/
    margin: 0;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8vh auto;
    font-family: 'MacPawFixelDisplayRegular' , sans-serif;
}

.button1{
    background-color: var(--accent-bg-color);
    color: var(--accent-color-2);
    border: none;
    padding: 8px 20px 5px 20px;
    border-radius: 50px;
    font-size: 1.3em;
    font-family: 'MacPawFixelDisplayRegular' , sans-serif;
    cursor: pointer;
    outline: var(--accent-color-2) 1px solid;
    transition: 0.2s;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

.button1:hover{
    filter: brightness(1.1);
}


header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
}

#left-header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
}

/*TODO: maybe flex with padding a little bit*/
#right-header{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-right: 60px;
    flex-direction: column;
    flex-wrap: nowrap;
}

/*TODO: make logo svg and with more adaptive position*/
.logo{
    margin-top: 0px;
    height: 80%;
    object-fit: contain;
}   

/*TODO: make name more adaptive and less shitcoded*/
.name{
    color: var(--accent-color-1);
    font-size: 2.0em;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'MacPawFixelDisplayThin' , sans-serif;
    margin-top: 5px;
}

#container-call{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--accent-bg-color);
    border-radius: 50px;
    outline: var(--accent-color-1) 5px solid;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 9vh;
    right: 20px;

}

.container-call-sample{
    height: 100%;
    width: 100%;
    /* object-fit: contain; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: var(--clear-bg-color);
    border-radius: 50px;
    outline: var(--clear-bg-color) 6px solid;
    margin-top: 12px;
    margin-bottom: 12px;
}

.container-call-sample p{
 margin-left: 20px;
 margin-right: 20px;
 margin-top: 7px;
 margin-bottom: 4px;
 font-size: 1.5em;
 width: 100%;
 text-align: center;
 /* margin: 10px; */
}

.container-call-sample i{
    font-size: 2em;
    padding: 0.3em;
   }

.container-call-sample :nth-child(1){
    border-radius: 50px;
    /* background-color: rgb(179, 235, 122); */
    color: var(--clear-bg-color);
}

.container-call-sample :nth-child(3){
    border-radius: 0px 50px 50px 0px;
    padding-left: 0.6em;
    border-left: 1px solid var(--contrast-color-1);
    color: var(--contrast-color-1);
}

#container-call .container-call-sample .fa-phone{
    background-color: var(--call-button-color);
}

#container-call .container-call-sample .fa-viber{
    background-color: var(--viber-button-color);
}

#container-call .container-call-sample .fa-telegram{
    background-color: var(--telegram-button-color);
}




main{
    background-color: var(--accent-bg-color);
    overflow: hidden;
    border-radius: 50px 50px 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    outline: var(--accent-color-1) 2px solid;
}

/*TODO: fix big space between objects rows*/
#left-main-screen{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    overflow: auto;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
    }

    ::-webkit-scrollbar-track {
    background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
    background-color: var(--accent-color-1);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
    }

    ::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent-color-2);
    }


/*TODO: fix adaptive cards*/
.container-desk-object{
    max-width: 40vmin;
    width: min-content;
    min-width: 25vh;
    max-height: 50vmin;
    height: min-content;
    min-height: 30vh;
    background-color: var(--clear-bg-color);
    border-radius: 40px;
    margin: 10px;
    outline: var(--accent-color-1) 3px solid;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr max-content max-content max-content;
    overflow: hidden;
    transform: scale(1); 
}


@keyframes bounce {
    0% {
        transform: scale(1); 
        filter: brightness(1.0);
    }
    50% {
        transform: scale(1.06); 
        filter: brightness(1.06);
    }
    100% {
        transform: scale(1.05); 
        filter: brightness(1.04);
    }
}

.container-desk-object:hover{
    filter: brightness(1.04);
    animation-name: bounce;
    animation-duration: 0.3s;
    transform: scale(1.05);
    
}

.container-desk-object-img{
    overflow: hidden;
    outline: var(--accent-color-1) 2px solid;
}

.container-desk-object-img img{
    height: 100%;
    width: 100%;
    object-fit:cover;
}

.container-desk-object-description{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
    background-color: var(--clear-bg-color);
    margin-top: 5px;
    margin-bottom: 5px;
}

.container-desk-object-description div{
    overflow: hidden;
}

.container-desk-object-description > :nth-child(1), :nth-child(3){
    /* text-align: left;
    margin-left: 10px; */
    text-align: center;
}

.container-desk-object-description > :nth-child(2), :nth-child(4){
    /* text-align: left; */
    text-align: center;
}

/*TODO: fix adaptive font*/
.container-desk-object-description div p{
    margin: 0;
    padding: 0;
    font-size: 0.55em;
    font-family: 'MacPawFixelDisplayMedium' , sans-serif;
    color: var(--contrast-color-1);
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    margin-left: 10px;
    margin-right: 10px;
}

.container-desk-object-address{
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 0.75em;
    font-family: 'MacPawFixelDisplayRegular' , sans-serif;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--clear-bg-color);
    margin: 0;
    height: min-content;
    border-bottom: var(--accent-color-1) 2px solid;
    border-top: var(--accent-color-1) 2px solid;
    background-color: var(--clear-bg-color);
    
}

/*TODO: fix adaptive font*/
.container-desk-object-address p{
    font-family: 'MacPawFixelDisplaySemiBold' , sans-serif;
    margin: 0px;
    padding: 0;
    color: var(--contrast-color-1);
    text-align: center;
    margin-top: 4px;
    margin-bottom: 3px;
}

.container-desk-object-price{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    font-size: 1.4em;
    font-family: 'MacPawFixelDisplayBold' , sans-serif;
    width: 100%;
    margin:0;
}

/*TODO: fix adaptive font*/
.container-desk-object-price p{
    margin: auto;
    color: var(--contrast-color-1);
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}




#right-main-screen{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    width: 100%;
    align-items: center;
}

.map{
    background-color: var(--clear-bg-color);
    border-radius: 50px;
    margin: auto;
    outline: var(--accent-color-1) 5px solid;
    height: 95%;
    width: 95%;
    overflow: hidden;
}


/* TODO: make map responsive */
.map img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


