header{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    width: 100vw;
}

#left-header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
}

/*TODO: maybe flex with padding a little bit*/
#right-header{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-right: 60px;
    flex-direction: column;
    flex-wrap: nowrap;
}

/*TODO: make logo svg and with more adaptive position*/
.logo{
    margin-top: 0px;
    height: 80%;
    object-fit: contain;
}


.name{
    color: var(--accent-color-1);
    font-size: 2.0em;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'MacPawFixelDisplayThin' , sans-serif;
    margin-top: 5px;
}




@media all and (orientation: portrait)
{
  #right-header{
    align-items: center;
    padding-right: 0px !important;
}

}
