.opened-sample-container{
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: auto;
    background-color: var(--accent-bg-color);
    padding-left: 25px;
    padding-top: 8px;
    overflow-y: scroll;

    transform: translateX(-10%);
    opacity: 0;
    transition-duration: 0.3s;
    transition-property: transform, opacity,visibility;

}

.opened-sample-imgs{
    height: 60%;
    width: auto;
    /* background-color: firebrick; */
    justify-self: center;
}

.opened-sample-details{
    height: 25%;
    width: auto;
    /* background-color: rebeccapurple; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.opened-sample-price-full{
    font-size: 3.5em;
    font-family: 'MacPawFixelDisplaySemiBold' , sans-serif;
    margin-bottom: 0;
    line-height: 1em;
    color: var(--contrast-color-2);
}

.opened-sample-price-full::after{
    content: "$";   
}

.opened-sample-price-per-meter{
    font-size: 1.5em;
    font-family: 'MacPawFixelDisplaylight' , sans-serif;
    margin-top: 0;
    color: var(--contrast-color-1);
}

.opened-sample-price-per-meter::after{
    content: "$ / m²";   
}

.opened-sample-address{
    font-size: 1.5em;
    text-align: left;
    font-family: 'MacPawFixelDisplayLight' , sans-serif;
    margin-top: 30px;
    color: var(--contrast-color-2);

}

.opened-sample-details-container-right{
    display: grid;
}

.opened-sample-details-table{
    height: max-content;
    width: auto;
    /* background-color: royalblue; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-self: center;
    align-self: center;
    font-size: 0.9em;
}

.opened-sample-details-table p{
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    text-justify: auto;
    line-height: 1em;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'MacPawFixelDisplayRegular' , sans-serif;
}

.opened-sample-details-table :nth-child(odd){
    text-align: right;
    border-right: 1px solid var(--accent-color-2) ;
}

.opened-sample-details-table :nth-child(even){
    text-align: left;
    /* border-left: 1px solid var(--accent-color-2) ; */
}

.opened-sample-description{
    height: max-content;
    width: auto;
    /* background-color: royalblue; */
    text-align: left;
    margin-top: 50px;
    margin-bottom: 30px;
}

.opened-sample-description h1{
     
   font-family: 'MacPawFixelDisplayLight' , sans-serif;
    color: var(--contrast-color-2);
    margin-bottom: 0;
}

.opened-sample-description p{
    font-family: 'MacPawFixelDisplayRegular' , sans-serif;
    color: var(--contrast-color-2);
    margin-top: 0;
}

/*TODO: make button adative and fixed to the right side of the parent*/
#close-opened-sample{
    position:fixed;
    top: 20px;
    right: 10px;
    z-index: 100;
}

.opened-sample-container--active{
    /* display: block !important; */
    transform: translateY(0%) !important;
    opacity: 1 !important;
    visibility: visible !important;
}