
#right-main-screen{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    width: 100%;
    align-items: center;
    opacity: 100;
}

#map{
    background-color: var(--clear-bg-color);
    border-radius: 50px;
    margin: auto;
    outline: var(--accent-color-1) 5px solid;
    height: 95%;
    width: 95%;
    overflow: hidden;
}


/* TODO: make map responsive */
.map img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.price-tag {
  background-color: var(--clear-bg-color);
  border-radius: 8px;
  color: var(--contrast-color-1);
  font-size: 14px;
  padding: 7px 10px;
  position: relative;
  border: 3px solid var(--accent-color-1);
  font-family: 'MacPawFixelDisplaySemiBold' , sans-serif;
  transform: scale(1);
}

.price-tag:hover {
  filter: brightness(1.04);
    animation-name: bounce;
    animation-duration: 0.3s;
    transform: scale(1.05);
    cursor: pointer;
}

.price-tag::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid var(--accent-color-1);
}
